body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import './index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --darkBlue:hsl(209, 23%, 22%);
  --veryDarkBlue:hsl(207, 26%, 17%);
  --veryDarkBlueLight:hsl(200, 15%, 8%);
  --darkGray:hsl(0, 0%, 52%);
  --lightGray:hsl(0, 0%, 98%);
  --white:hsl(0, 0%, 100%);
}